* {
    margin:0;
    padding: 0;

}
.wrap{
    background: linear-gradient(to left, #EECBAD, #C1FFC1);
    height: 650px;

    display: flex;
}
.main{
    margin: auto;
}
.button {
    width: 51px;
    height: 50px;
    font-size: 25px;
    margin: 2px;
    cursor: pointer;
    background: #8B7E66;

    color: white;
}
.textview{
    width: 204px;
    margin: 5px;
    font-size: 25px;
    padding: 5px;
    color: #515151;
    background: #FFF5EE;
}




body{

}

